body::-webkit-scrollbar{display: none;}
body::scrollbar{display: none;} 
ul,ul li{list-style: none;margin: 0;padding: 0;}
.ellipsis-2{ display: -webkit-box; overflow: hidden; white-space: normal!important; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 2; -webkit-box-orient: vertical }
/*header*/
.am-header{background: #fb3434;line-height: 44px;height: 44px;}
.am-header .am-header-title{font-size: 18px;}
.am-header form{padding-right: 50px;}
.am-header input{background:rgba(234, 230, 230, 0.93);border: 1px solid #fff;color: #fff;border-radius: 50px;}
/*searchtop*/
.searchtop{position: relative;}
.searchtop span{position: absolute;left: 10px;color: #969696;z-index: 1;}
.searchtop input{width:100%;height: 30px;padding-left: 30px;font-size: 14px;color: #323232;position: absolute;top: 10px;}
.searchtop input::-webkit-input-placeholder { color:#969696; }
.searchtop input::-moz-placeholder { color:#969696; }
.searchtop input::-moz-placeholder { color:#969696; }
.searchtop input::-ms-input-placeholder { color:#969696; }
.am-form-field:focus{border: none;box-shadow: none;}
.white-bar{background: #fff;box-shadow: none;max-width: 750px;margin: 0 auto;color: #fff;}
/*series*/
.am-menu-offcanvas1 .am-menu-toggle{position: fixed;top: 0;}
.am-offcanvas-bar,.am-offcanvas-bar:after{background: #fff;}
.series h4{padding: 5px 10px;font-weight: normal;color: #666;margin: 10px 0;}
.series a{display: block;margin: 0 auto 10px;padding: 5px 0;width: 100%;background: #e6e6e6;font-size: 12px;color: #333;text-align: center;border-radius: 5px;}
/*sort*/
.sort{border-bottom: 1px solid #ededed; top:44px;width: 100%;height: 44px;position: fixed;background: #fff;z-index: 1;}
.sort label{margin-bottom: 0;}
.sort label a{font-size: 14px;color: #666;line-height: 44px;padding-right: 15px;}
.sort input:checked + label a{color: #fb3434;background: url(../images/arrow.png) no-repeat right;background-size: 12%;}

.goods-list { display: table; clear: both; overflow-y: scroll; padding: .2em;padding-top: 50px; content: ''; text-align: center; background-color: #fff; }
.goods-list .goods-item { float: left; width: 48%; margin-right: .15em; margin-bottom: .7em; text-align: left; }
.goods-list .goods-item:nth-child(2n) { float: right; }
.tqk_pic { overflow: hidden; height: 180px; }
.goods-list .goods-item a.img { position: relative; display: block; width: 100%; }
.goods-list .goods-item a.img .today-wrapper { position: absolute; top: 0; left: 0; text-align: center; color: #fff; background-color: #2bd4c2; }
.goods-list .goods-item a.img .today-wrapper span { font-size: 10px; line-height: 16px; display: block; padding: 0 4px; }
.goods-list .goods-item a.img img { width: 100%; border: none; }
.goods-list .goods-item a.title { width: 100%; }
.goods-list .goods-item a.title .text { font-size: 12px; overflow: hidden; width: 100%; height: 18px; text-align: center; word-break: break-all; color: #a3a3a3; }
.tqkprice { font-size: 12px; width: 100%; padding-top: 5px; color: #fff; }
.tqkprice span { display: inline-block; padding: 0 3px; background-color: #ff464e; }
.tqkprice label { display: inline-block; padding: 0 3px; background-color: #a19cf3; }
.goods-list .goods-item .price-wrapper { position: relative; margin: .2em 0; }
.goods-list .goods-item .price-wrapper .text { font-size: 12px; display: inline-block; color: #a3a3a3; }
.goods-list .goods-item .price-wrapper .price { font-size: 14px; display: inline-block; margin-top: .1em; color: #ff4b5f; }
.goods-list .goods-item .price-wrapper .sold-wrapper { position: absolute; top: .05em; right: 0; }
.goods-list .goods-item .price-wrapper .sold-wrapper .sold-num { font-size: 10px; color: #ecabab; }

/*backtop*/
.backTop,.backTop:active,.backTop:focus {display: block; background: #fb3434;position: fixed; right: 10px; bottom: 55px; width: 32px; height: 32px; z-index: 1; text-align: center; font-size: 18px; color: #fff;border-radius:3px;opacity: 0.8;filter: alpha(opacity=80); }
.backTop span{font-size: 24px;line-height:32px;color: #fff;}

/*footer*/
.footer{position: fixed;bottom: 0;width: 100%;max-width: 750px;z-index: 2;}
.footer-top{display: -webkit-box;display: -ms-flexbox;display: flex;height: 15px;}
.footer-top .line{-webkit-box-flex: 1;-ms-flex: 1;flex: 1;border-bottom: 1px solid #ddd;}
.footer-top .circle{width: 45px;height: 40px;background: #fff;border-top: 1px solid #ccc;border-top-left-radius: 50%;border-top-right-radius: 50%;z-index: -1;}
.footer ul{margin: 0;padding: 0;background: #fff;}
.footer ul li{list-style: none;float: left;width: 20%;text-align: center;}
.footer ul li a{color: #666;}
.footer ul li a i{display: block;font-size: 23px;line-height: 30px;}
.footer ul li a span{display: block;font-size: 10px;line-height: 20px;}
.footer ul li a:active{color: #FF464E;}

/*page*/
.page .am-pagination{text-align: center;} 
.page .am-pagination .am-pagination-prev,.page .am-pagination .am-pagination-next{float: none;}
.page .am-pagination-select > li > a{height: 24px;line-height: 24px;padding: 0 10px;font-size: 12px;background: #fb3434;color: #fff;border-radius: 5px;}
.page .am-pagination-select .am-pagination-select{position: static;margin: 0 10px;height: 24px;font-size: 12px;}
.page .am-pagination-select .am-pagination-select select{line-height: 24px;height: 24px;padding-left: 22px;border-radius: 5px;}
.page{text-align: center;}
.page span,.page a{border: 1px solid #ddd;display: inline-block;font-size: 14px;color: #333;line-height: 28px; padding:0 5px;margin: 15px 0;}
.page span{padding:0 10px;}
.page .cur{color: #fb3434;border: 1px solid #fb3434;}



/*headlines*/
.headlines .am-slider-default .am-control-nav,.headlines .am-direction-nav{display: none;}
.headlines .am-slider-default{box-shadow: none;margin: 0;}
.headlines .am-tabs{width: 100%;}
.headlines .am-tabs-nav{background: #fff;position: fixed;top: 44px;z-index: 9;height: 40px;}
.headlines .am-tabs-nav li{margin-bottom: 0;display: inline-block;}
.headlines .am-tabs-nav li a{background: #fff;color: #333;font-size: 14px;border: none;line-height: 38px;padding: 0;text-align: center;}
.headlines .am-tabs-nav li.am-active a,.headlines .am-tabs-nav li a:hover{background: #fff;color: #ff4966;border: none;}
.headlines .am-tabs-bd{z-index: 1;border: none;width: 100%;overflow-x: hidden;margin-top: 40px;}
.headlines .am-tab-panel{padding: 0;}
.headlines .am-tab-panel ul li{border-bottom: 1px solid #ddd;padding: 10px;}
.headlines .am-tab-panel ul li img{width: 120px!important;height: 120px;object-fit: cover;float: left;margin-right: 10px;}
.headlines .am-tab-panel ul li h3{font-size: 16px;line-height: 22px;margin: 0;color: #323232;}
.headlines .am-tab-panel ul li p{font-size: 14px;color: #666;margin: 0;}
.headlines .am-tab-panel ul li span{font-size: 12px;color: #ff4966;border: 1px solid #ff4966;padding: 0 2px;border-radius: 5px;}
.headlines .am-tab-panel ul li p.time{font-size: 12px;color: #999;float: right;}




